.homesec{
    display: flex;
    height: 100vh;
    background-color: rgb(234, 243, 243);
    align-items: center;
}

.image1{
    background-image: url("https://images.pexels.com/photos/1424810/pexels-photo-1424810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: rgb(255, 223, 251);
    background-blend-mode: multiply;
    background-size: cover;
    width: 60%;
    height: 100%;
}

.image2{
    background-image: url("https://images.pexels.com/photos/698907/pexels-photo-698907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    margin-left: 150px;
    width:25%;
    height: 80%;
}

.head{
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    text-align: center;
    color: rgb(59, 59, 59);
    font-weight: bolder;
    text-shadow: 2px 2px 4px #6b6a6a;
    padding: 10px;
}


.content{
    height: 400px;
    width: 350px;
    margin-top: 265px;
    margin-left: 700px;
    background-color: rgb(175, 175, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.8;
    color: #faf8f8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
